# The build output should clearly not be checked in
/build
/python/build
/python/dist
/python/cloudtik/core/thirdparty/

# IDEA config files
.idea/

# Python byte code files
*.pyc
python/.eggs

# Backup and temp files
*.bak

# Emacs temporary files
*~
*#

# Pytest Cache
**/.pytest_cache
**/.cache
