# These are mirrored in setup.py as install_requires

# setup.py install_requires
attrs
colorama
click >= 7.0
cryptography>=3.0.0
dataclasses; python_version < '3.7'
filelock
ipaddr
jsonschema
numpy >= 1.16; python_version < '3.9'
numpy >= 1.19.3; python_version >= '3.9'
prettytable
prometheus_client >= 0.7.1
psutil
pyyaml
redis >= 3.5.0
requests
six
smart_open
pycryptodomex
pyopenssl
sshtunnel

# setup.py extras
## for aws
boto3 == 1.22.13
botocore
## for azure
azure-cli == 2.35.0
azure-storage-blob == 12.11.0
azure-storage-file-datalake == 12.6.0
## for gcp
google-api-python-client == 2.48.0
google-cloud-storage == 2.3.0
## for kubernetes
kubernetes
urllib3