# These are mirrored in setup.py as install_requires

# setup.py install_requires
attrs
colorama
click >= 7.0
cryptography>=3.0.0
dataclasses; python_version < '3.7'
filelock
ipaddr
jsonschema
numpy >= 1.16; python_version < '3.9'
numpy >= 1.19.3; python_version >= '3.9'
prettytable
prometheus_client >= 0.7.1
psutil
pyyaml
redis >= 3.5.0
requests
six
smart_open
pycryptodomex
pyopenssl
sshtunnel

# setup.py extras
## for aws
boto3 == 1.24.59
s3fs == 2022.10.0
botocore
## for azure
azure-cli == 2.40.0
azure-identity == 1.11.0
azure-storage-blob == 12.11.0
azure-storage-file-datalake == 12.6.0
adlfs == 2022.2.0
## for gcp
google-api-python-client == 2.48.0
google-cloud-storage == 2.3.0
gcsfs == 2022.10.0
## for kubernetes
kubernetes
urllib3
## for aliyun
aliyun-python-sdk-core-v3
aliyun-python-sdk-ecs
aliyun-python-sdk-vpc
aliyun-python-sdk-ram
oss2
## for alibabacloud python SDK V2
alibabacloud_tea_openapi == 0.3.7
alibabacloud_vpc20160428 == 2.0.20
alibabacloud_vpcpeer20220101 == 1.0.6
alibabacloud_ecs20140526 == 3.0.4
alibabacloud_ram20150501 == 1.0.3
alibabacloud_oss20190517 == 1.0.5
## for huaweicloud
huaweicloudsdkecs == 3.1.24
huaweicloudsdkvpc == 3.1.24
huaweicloudsdknat == 3.1.24
huaweicloudsdkeip == 3.1.24
huaweicloudsdkiam == 3.1.24
esdk-obs-python == 3.22.2
