# These are mirrored in setup.py as install_requires

# setup.py install_requires
attrs
colorama
click >= 7.0
cryptography>=3.0.0
dataclasses; python_version < '3.7'
filelock
grpcio >= 1.28.1
ipaddr
jsonschema
msgpack >= 1.0.0, < 2.0.0
numpy >= 1.16; python_version < '3.9'
numpy >= 1.19.3; python_version >= '3.9'
prettytable
prometheus_client >= 0.7.1
protobuf >= 3.15.3
psutil
pyyaml
redis >= 3.5.0
requests
smart_open
pycryptodome


# setup.py extras
## for aws
boto3
botocore
## for azure
azure-cli
azure-core
## for gcp
google-api-python-client
## for kubernetes
kubernetes
urllib3