# Custom commands that will be run on the head node after common setup.
head_setup_commands:
    - cloudtik runtime install spark --head
    - cloudtik runtime configure spark --head

# Custom commands that will be run on worker nodes after common setup.
worker_setup_commands:
    - cloudtik runtime install spark
    - cloudtik runtime configure spark

# Command to start on the head node. You don't need to change this.
head_start_commands:
    - cloudtik runtime services spark stop --head
    - cloudtik runtime services spark start --head

# Command to start on worker nodes. You don't need to change this.
worker_start_commands:
    - cloudtik runtime services spark stop
    - cloudtik runtime services spark start

# Command to start on the head node. You don't need to change this.
head_stop_commands:
    - cloudtik runtime services spark stop --head

# Command to start on worker nodes. You don't need to change this.
worker_stop_commands:
    - cloudtik runtime services spark stop
