# Custom commands that will be run on the head node after common setup.
head_setup_commands:
    - cloudtik runtime install zookeeper --head
    - cloudtik runtime configure zookeeper --head

# Custom commands that will be run on worker nodes after common setup.
worker_setup_commands:
    - cloudtik runtime install zookeeper
    - cloudtik runtime configure zookeeper

# Command to start on the head node. You don't need to change this.
head_start_commands:
    - cloudtik runtime services zookeeper stop --head
    - cloudtik runtime services zookeeper start --head

# Command to start on worker nodes. You don't need to change this.
worker_start_commands:
    - cloudtik runtime services zookeeper stop
    - cloudtik runtime services zookeeper start

# Command to start on the head node. You don't need to change this.
head_stop_commands:
    - cloudtik runtime services zookeeper stop --head

# Command to start on worker nodes. You don't need to change this.
worker_stop_commands:
    - cloudtik runtime services zookeeper stop
