# A unique identifier for the workspace
workspace_name: cloudtik

# Kubernetes resources that need to be configured for the scaler to be
# able to manage the cluster. If any of the provided resources don't
# exist, the scaler will attempt to create them. If this fails, you may
# not have the required permissions and will have to request them to be
# created by your cluster administrator.
provider:
    type: kubernetes

    # Exposing external IP addresses for pods isn't currently supported.
    use_internal_ips: true

    # ServiceAccount created for the head node pod that it
    # runs in. If this field isn't provided, the head pod config below must
    # contain a user-created service account with the proper permissions.
    head_service_account:
        apiVersion: v1
        kind: ServiceAccount
        metadata:
            name: cloudtik-head-service-account

    # Role created for the head node pod that it runs in.
    # If this field isn't provided, the role referenced in
    # head_role_binding must exist and have at least these permissions.
    head_role:
        kind: Role
        apiVersion: rbac.authorization.k8s.io/v1
        metadata:
            name: cloudtik-head-role
        rules:
        - apiGroups: [""]
          resources: ["pods", "pods/status", "pods/exec"]
          verbs: ["get", "watch", "list", "create", "delete", "patch"]

    # RoleBinding created for the head node pod that it runs
    # in. If this field isn't provided, the head pod config below must contain
    # a user-created service account with the proper permissions.
    head_role_binding:
        apiVersion: rbac.authorization.k8s.io/v1
        kind: RoleBinding
        metadata:
            name: cloudtik-role-binding
        subjects:
        - kind: ServiceAccount
          name: cloudtik-head-service-account
        roleRef:
            kind: Role
            name: cloudtik-head-role
            apiGroup: rbac.authorization.k8s.io
