# Custom commands that will be run on the head node after common setup.
head_setup_commands:
    - cloudtik runtime install presto --head
    - cloudtik runtime configure presto --head

# Custom commands that will be run on worker nodes after common setup.
worker_setup_commands:
    - cloudtik runtime install presto
    - cloudtik runtime configure presto

# Command to start on the head node. You don't need to change this.
head_start_commands:
    - cloudtik runtime services presto stop --head
    - cloudtik runtime services presto start --head

# Command to start on worker nodes. You don't need to change this.
worker_start_commands:
    - cloudtik runtime services presto stop
    - cloudtik runtime services presto start

# Command to start on the head node. You don't need to change this.
head_stop_commands:
    - cloudtik runtime services presto stop --head

# Command to start on worker nodes. You don't need to change this.
worker_stop_commands:
    - cloudtik runtime services presto stop
