mxnet==1.9.1
mlflow==1.27.0
pyarrow==8.0.0
hyperopt==0.2.7
jupyter_server==1.16.0
jupyterlab==3.4.3
nbclassic==0.3.7
spylon-kernel==0.4.1
# horovod==0.21.*
# make sure horovod is re-compiled if environment is re-built
# --no-binary=horovod

