# Custom commands that will be run on the head node after common setup.
head_setup_commands:
    - cloudtik runtime install node_exporter --head
    - cloudtik runtime configure node_exporter --head

# Custom commands that will be run on worker nodes after common setup.
worker_setup_commands:
    - cloudtik runtime install node_exporter
    - cloudtik runtime configure node_exporter

# Command to start on the head node. You don't need to change this.
head_start_commands:
    - cloudtik runtime services node_exporter stop --head
    - cloudtik runtime services node_exporter start --head

# Command to start on worker nodes. You don't need to change this.
worker_start_commands:
    - cloudtik runtime services node_exporter stop
    - cloudtik runtime services node_exporter start

# Command to start on the head node. You don't need to change this.
head_stop_commands:
    - cloudtik runtime services node_exporter stop --head

# Command to start on worker nodes. You don't need to change this.
worker_stop_commands:
    - cloudtik runtime services node_exporter stop
