# Custom commands that will be run on the head node after common setup.
head_setup_commands:
    - cloudtik runtime install etcd --head
    - cloudtik runtime configure etcd --head

# Custom commands that will be run on worker nodes after common setup.
worker_setup_commands:
    - cloudtik runtime install etcd
    - cloudtik runtime configure etcd

# Command to start on the head node. You don't need to change this.
head_start_commands:
    - cloudtik runtime services etcd stop --head
    - cloudtik runtime services etcd start --head

# Command to start on worker nodes. You don't need to change this.
worker_start_commands:
    - cloudtik runtime services etcd stop
    - cloudtik runtime services etcd start --reverse

# Command to start on the head node. You don't need to change this.
head_stop_commands:
    - cloudtik runtime services etcd stop --head

# Command to start on worker nodes. You don't need to change this.
worker_stop_commands:
    - cloudtik runtime services etcd stop
