# Custom commands that will be run on the head node after common setup.
head_setup_commands:
    - cloudtik runtime install grafana --head
    - cloudtik runtime configure grafana --head

# Custom commands that will be run on worker nodes after common setup.
worker_setup_commands:
    - cloudtik runtime install grafana
    - cloudtik runtime configure grafana

# Command to start on the head node. You don't need to change this.
head_start_commands:
    - cloudtik runtime services grafana stop --head
    - cloudtik runtime services grafana start --head

# Command to start on worker nodes. You don't need to change this.
worker_start_commands:
    - cloudtik runtime services grafana stop
    - cloudtik runtime services grafana start

# Command to start on the head node. You don't need to change this.
head_stop_commands:
    - cloudtik runtime services grafana stop --head

# Command to start on worker nodes. You don't need to change this.
worker_stop_commands:
    - cloudtik runtime services grafana stop
