# DL Frameworks
tensorflow==2.12.0

# Tensorflow tools
tensorflow-text==2.12.1
tensorflow-datasets~=4.8.2
tensorflow-hub~=0.12.0

# For deep learning cases about facial recognition
tensorflow-addons==0.17.1
