# jupyter_core 4.11.0 removed jupyter.py which cause spylon-kernel install failed with no module named jupyter
# once this is fixed, we can upgrade to any compatible version
jupyter_core==4.10.0
jupyter_server==1.19.1
jupyterlab==3.4.3
nbclassic==0.3.7
spylon-kernel==0.4.1

# ML Tools
mlflow==1.27.0
# Note: mlflow (1.27.0) will fail with latest SQLAlchemy package
sqlalchemy==1.4.46
pyarrow==8.0.0
hyperopt==0.2.7

# ML Frameworks
scikit-learn==1.0.2

# DL Frameworks
mxnet==1.9.1
tensorflow==2.9.3
